<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="../library/codeschool.bootstrap.min.css" />
    <!--link rel="stylesheet" href="http://dhg7upb7j7jqa.cloudfront.net/shaping_up_with_angular_js/assets/demo/bootstrap.min.css"-->
    <script type="text/javascript" src="../library/angular.min.js"></script>
    <script type="text/javascript" src="../product.js"></script>
  </head>
  <body>
    <head>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">- an Angular store -</h2>
    </head>
    <!--  Products Container  -->
    <ul class="list-group" ng-controller="StoreController as store"
      <!--  Product Container  -->
      <li class="list-group-item" ng-repeat="product in store.products">
        <product-title></product-title>
        <!-- Image Gallery  -->
        <product-gallery></product-gallery>
        <!-- Product Detail -->
        <product-detail></product-detail>
      </li>
     </ul>
  </body>
</html>

